{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" >
    <meta name="author" >
    <title>صفحه اصلی | فروشگاه کارزیبا</title>
    {% include 'shared/_HeaderReferences.html ' %}
</head>
<body>
{#{% include 'shared/Header.html' %}#}
{% render_partial 'header'%}
{% block content %}{% endblock %}
{#{% include 'shared/Footer.html' %}#}
{% render_partial 'footer' %}
{% include 'shared/_FooterRefrences.html' %}
</body>
</html>